<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
    <a class="navbar-brand" (click)="scrollTo(home)" style="color:black">
        <p style="color:black">Reiki</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div #menu class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" (click)="scrollTo(home)">HOME</a></li>
            <li class="nav-item active"><a class="nav-link" (click)="scrollTo(reiki)">REIKI</a></li>
            <li class="nav-item active"> <a class="nav-link" (click)="scrollTo(sobre)">SOBRE MIM</a></li>
            <li class="nav-item active"> <a class="nav-link" (click)="scrollTo(cursos)">CURSOS</a></li>
            <li class="nav-item active"> <a class="nav-link" (click)="scrollTo(espaco)">ESPAÇO</a></li>
            <li class="nav-item active"><a class="nav-link"
                    href="https://terapiamultidimensionalereiki.blogspot.com">BLOG</a></li>
            <li class="nav-item active"><a class="nav-link" (click)="scrollTo(contato)">CONTATO</a></li>
        </ul>
    </div>
</nav>

<div #home class="jumbotron text-center">
    <h1 style="color:black">Vera Lúcia Gonçalves de Amorim</h1>
    <p style="color:black"> Reiki, Florais de Bach, Terapia Quântica, Terapia Multidimensional, Munay-ki</p>
</div>

<!-- Container (Home Section) -->
<div #reiki class="container-fluid">
    <div class="row">

        <div class="col-sm-8">
            <h2>O que é o Reiki</h2><br>
            <p>Reiki - Sistema Tradicional Usui Shiki Ryoho - é uma ferramenta poderosa para canalização de energias de
                cura, que se torna permanente a partir da sintonização da pessoa na técnica. Isso ocorre durante o
                curso, no
                qual também pode haver um processo de purificação de padrões emocionais e acesso a uma nova consciência
                de paz
                e tranquilidade, cuja intensidade será ajustada à necessidade de cada participante, atingindo um novo
                patamar
                de vibração mais elevada. Após este processo, os alunos estarão habilitados a realizar o tratamento em
                si e
                oferecer o mesmo para pessoas, plantas, animais e ambientes, já a partir do primeiro nível, promovendo
                equilíbrio e bem-estar. Cada curso com vivência é realizada em um único dia para cada um dos níveis, e a
                formação completa se dará após a realização do nível III.</p>
        </div>
        <div class="col-sm-4">
            <img src="assets/reiki.svg" width="200px" />
        </div>
    </div>
</div>

<!-- SOBRE MIM -->
<div #sobre class="container-fluid bg-grey sobre">
    <div class="row">
        <div class="col-sm-4">
            <img src="assets/avatar.svg" width="200" />
        </div>
        <div class="col-sm-8">
            <h2>Sobre Mim</h2>
            <p>Sou Vara Lúcia Gonçalves de Amorim, Terapeuta e Mestre de Reiki Tradicional e facilitadora de transmissão
                de Ritos do Munay-ki. Atuo com Reiki, Terapia Quântica e Florais de Bach há 18 anos. O tratamento tem a
                proposta de trazer eguilibrio, tratando padrões e crenças limitantes. colaborando para a cura de traumas
                e memórias , trazendo uma nova perspectiva de equilíbrio para a pessoa tratada.</p><br>

            <p>Sobre os Cursos, são uma excelente oportunidade da acessar energias de cura, para auto tratamento e de
                outros seres, são realizados em grupo aos domingos, ou cursos individuais durante a semana.
                Ofereço cursos e atendimentos a distância (on line).</p>
        </div>
    </div>
</div>


<!-- Container (Curso Section) -->
<div #cursos class="container-fluid" style="height: 100%">
    <div class="text-center">
        <h2>Cursos</h2>
        <h4>Reiki Tradicional - Programação de Cursos - Junho a Dezembro /19</h4>
    </div>
    <div class="row ">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading ">
                    <h1>Nível I</h1>
                </div>
                <div class="panel-body text-justify" style="padding: 12px">
                    <p><b>Objetivo: </b>Habilitar pessoas que desejem trabalhar no processo de canalização de energias
                        sutis,
                        em favor do processo de auto cura, de outras pessoas, animais, objetos e ambientes.</p>
                </div>
                <hr>

                <div class="panel-footer text-center" style="padding: 12px">
                    <h5>Datas</h5>
                    <p>30/06, 28/07, 11/08, 15/09
                        <br>06/10, 10/11, 01/12 
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Nível II</h1>
                </div>
                <div class="panel-body text-justify" style="padding: 12px">
                    <p><b>Pré-requisito:</b>Ter sido iniciado no Nível I do Reiki Sistema Usui Shiki Ryoho</p>
                    <p><b>Objetivo: </b>Dar sequência ao processo de sintonização dos já iniciados no Nível I  e
                        divulgar os 3 primeiros símbolos .</p>
                </div>
                <hr>
                <div class="panel-footer text-center" style="padding: 12px">
                    <h5>Datas</h5>
                    <p>16/06, 07/07, 04/08, 29/09
                        <br>20/10, 24/11, 15/12 
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Nível III(Mestrado)</h1>
                </div>
                <div class="panel-body text-justify" style="padding: 12px">
                    <p><b>Pré-requisito:</b>Ter sido iniciado no Nível II do Reiki Sistema Usui Shiki Ryoho</p>
                    <p><b>Objetivo: </b> Dar sequência ao processo de sintonização dos já iniciados no Nível II,
                        apresentar os 2 últimos símbolos e oferecer treinamento do processo de iniciação aos futuros
                        mestres.</p>
                </div>
                <hr>
                <div class="panel-footer text-center" style="padding: 12px">
                    <h5>Datas</h5>
                    <p>01/09, 21/10 
                </div>
            </div>
        </div>
    </div>
    <h4 style="margin-top: 15px" >
        <br><b>*Cursos individuais: </b> Realizados durante a semana - Valores sob consulta.
        <br><b>*Carga horária de cada Curso (Nível): </b> 8 horas ( das 9 às 18 horas)
        <br><b>*Prazo para reserva da matrícula: </b>Até às 12 horas da sexta-feira anterior ao curso.
    </h4>
</div>

<!-- Container (Espaco Section) -->
<div #espaco class="container-fluid text-center bg-grey">
    <h2>Espaço Pitanga - Campinas</h2><br>
    <div class="row text-center ">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="assets/pitanga 1.jpg" alt="Paris" width="400" height="300">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="assets/espacoPitanga.jpg" alt="New York" width="400" height="300">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="assets/FotoPitanga.jpg" alt="San Francisco" width="400" height="300">

            </div>
        </div>
    </div>
</div>


<!-- Container (Contact Section) -->
<div #contato class="container-fluid bg-grey">
    <h2 class="text-center">CONTATO</h2>
    <div class="row">
        <div class="col-sm-5">
            <p><b>Entre em contato iremos adorar te atender.</b></p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Espaço Pitanga - Campinas</p>
            <p><span class="glyphicon glyphicon-phone"></span> (19) 9 9637-1661</p>
            <p><span class="glyphicon glyphicon-envelope"></span> vgoamo@hotmail.com</p>
        </div>
        <div class="col-sm-7 ">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Sua Mensagem"
                rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn pull-right" type="submit" style="background-color: #dbc0da">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <a href="#home">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Desenvolvido por <a href="https://www.velasoft.com" title="VelaSoft">VelaSoft</a></p>
</footer>